<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h3>Ramzy Fakhfakh</h3>
            <h5>Ramzyfakhfakh1@gmail.com</h5>
        </div>
        <div class="logo py-4">
            <img src="./assets/user_logo.png" height="80" />
          </div>
    </div>


    <div>

    <h1 matSubheader>Teams</h1>
    

    

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

    </div>

 
</mat-nav-list>