body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden
  }
  
    body {
        background-size: cover;
        background-image: url("../../assets/background1.jpeg");
    }
  
  
  #particles-js {
    height: 100%
  }
  
  .loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 200px;
    background: #03045E;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box
  }
  
  .user {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px
  }
  
  h3 {
    margin: 0;
    padding: 0 0 20px;
    color: #e0fbfc;
    text-align: center
  }
  
  
  
  
  
  
  
  
  
  
  
  
  .loginBox a {
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block
  }
  
  