
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/x.x.x/ng2-bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<body>

    <div class="loginBox"> <img class="user" src="../../assets/logo.png" height="100px" width="100px">
        <h3>Password Reset</h3>

        <div class="alert alert-danger" role="alert" *ngIf="message">
            {{message}}
          </div>
    
        
        <form (ngSubmit)="onSubmit(resetform)" #resetform="ngForm"  >
            <div  class="inputBox"> 
                 <input id="password" type="password" name="password" placeholder="New password" ngModel>
                 <input id="password" type="password" name="passwordc" placeholder="Confirm password" ngModel> 
            </div>
<br>
             <input type="submit" name="" value="Change password"  >
        </form> 
        <div class="text-center">
            
            
        </div>
    </div>
    
    </body>