<script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/x.x.x/ng2-bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<body>

    <div class="loginBox"> <img class="user" src="../../assets/logo.png" height="100px" width="100px">
        
        <h3>Forget Password </h3>
        <br> <br>
        <div class="alert alert-danger" role="alert" *ngIf="message">
            {{message}}
          </div>
          
        <form (ngSubmit)="onSubmit(forgetform)" #forgetform="ngForm">
             <div class="inputBox"> <input id="email" type="email" name="email" placeholder="Email" ngModel> 
                <br> <br> <br>
                <p class="text-danger p1-1" *ngIf="error.email">{{error.email}}</p>
    
             </div> <input type="submit" name="" value="Reset Password" [disabled]="wait">
         </form> 
        </div>
    
    
    
    </body>